form {
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--ui-border-color);
    height: 100%;
    padding-top: 24px;
}
h4 {
    margin: 8px 24px;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 4px 24px;
    position: relative;
}
.input-wrapper.image {
    margin: 24px 24px;
}
.hidden {
    display: none;
}

label {
    margin-bottom: 4px;
    padding-left: 4px;
    font-size: 16px;
    font-weight: 100;
}

input,
select {
    margin-bottom: 12px;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    border-radius: 4px;
    border: 1px solid var(--ui-border-color);
}
input::placeholder {
    color: var(--placeholder-color);
}
input:focus-visible {
    outline-color: var(--primary-color);
}
input.ng-touched.ng-valid,
select.ng-touched.ng-valid {
    border-color: var(--positive-color);
}
input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
    border-color: var(--negative-color);
}

input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.image-preview {
    position: relative;
    cursor: pointer;
    height: 150px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    transform: translateX(-6px);
    border-radius: 4px;
}
.image-preview span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--primary-text-color);
    transform: translate(-50%, -50%);
    background-color: var(--disabled-background-color);
    opacity: 0.75;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px;
    transition: all;
    transition-duration: 200ms;
    width: max-content;
}
.image-preview:hover span {
    opacity: 1;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-background-color);
}

button {
    padding: 12px 24px;
    margin: 4px 24px 16px 24px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
button.primary {
    background-color: var(--primary-color);
    color: var(--primary-text-on-primary);
    border: none;
}
button.primary:hover {
    background-color: var(--primary-hover-color);
}
button.secondary {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    border: 1px solid var(--ui-border-color);
    margin-bottom: 4px;
}
button.secondary:hover {
    background-color: var(--primary-background-hover-color);
}
button:first-of-type {
    margin-top: auto;
}
button:disabled {
    background-color: var(--disabled-background-color);
    color: var(--disabled-text-color);
    cursor: default;
}
button:disabled:hover {
    background-color: var(--disabled-background-color);
}

.hint {
    color: var(--negative-color);
    font-size: 12px;
    font-weight: 100;
    margin-top: -8px;
    margin-left: 4px;
    margin-bottom: 12px;
}
