<div class="landing-wrapper">
    <div class="login-wrapper">
        <ng-container *ngIf="!showRegister">
            <app-login></app-login>
            <div class="action-switch-wrapper">
                <p>
                    first time on our shop?
                </p>
                <button (click)="showRegister = true">
                    register now
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="showRegister">
            <app-register></app-register>
            <div class="action-switch-wrapper">
                <p>
                    already member?
                </p>
                <button (click)="showRegister = false">
                    login
                </button>
            </div>
        </ng-container>
    </div>
    <div class="about-wrapper">

        <p>
            Marketman is wonderful place to do all of your shopping
        </p>
        <div>
            <h3>{{productsCount}}</h3>
            <span>Products</span>
        </div>
        <div>
            <h3>{{ordersCount}}</h3>
            <span>Orders</span>
        </div>
    </div>
</div>