<div class="landing-wrapper">
    <div class="login-wrapper">
        <ng-container *ngIf="!showRegister">
            <app-login></app-login>
            <div class="action-switch-wrapper">
                <p>
                    first time on our shop?
                </p>
                <button (click)="showRegister = true">
                    register now
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="showRegister">
            <app-register></app-register>
            <div class="action-switch-wrapper">
                <p>
                    already member?
                </p>
                <button (click)="showRegister = false">
                    login
                </button>
            </div>
        </ng-container>
    </div>
    <div class="about-wrapper">
        <h1>
            Welcome to the <span>Blue Market</span>
        </h1>
        <p>the best digital market experience on the web</p>
        <div class="counters">

            <div class="counter-wrapper">
                <h3 [countUp]="productsCount">0</h3>
                <span>Products</span>
            </div>
            <div class="counter-wrapper">
                <h3 [countUp]="ordersCount">0</h3>
                <span>Orders</span>
            </div>
        </div>
    </div>
    <!-- todo - change img colors -->
    <img src="./../../../../assets/images/service_market_basket.svg">
</div>