.product-card {
    display: flex;
    flex-flow: column nowrap;
    padding: 40px 16px 16px 16px;
    border-radius: 4px;
    border: 1px solid transparent;
}

img {
    max-width: 100px;
    align-self: center;
    transition: all 200ms;
}
h4 {
    margin: 16px 0px 8px 0px;
}
.price-wrapper {
    font-size: 16px;
}

.show-on-hover {
    opacity: 0;
}
.product-card:hover .show-on-hover {
    opacity: 100;
    margin-top: auto;
}
.product-card:hover img {
    transform: scale(1.05);
}


.quantity-controller {
    display: flex;
    flex-flow: row nowrap;
    margin: 32px 0px 16px 0px;
    align-items: center;
}

.controller {
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    border: 1px solid var(--ui-border-color);
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
}
.controller:hover {
    background-color: var(--primary-background-hover-color);
}
.decrease {
    border-radius: 4px 0px 0px 4px;
    border-right: none;
}
.increase {
    border-radius: 0px 4px 4px 0px;
    border-left: none;
}

.quantity-controller > input {
    width: 8ch;
    padding: 8px 16px;
    font-size: 18px;
    text-align: center;
    border: 1px solid var(--ui-border-color);
}
.quantity-controller > input:hover {
    background-color: var(--neutral-100);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
}

.add-product {
    background-color: var(--primary-color);
    border: none;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
    text-transform:capitalize;
    width: 100%;
    color: var(--primary-text-on-primary);
}
.add-product:hover {
    background-color: var(--primary-hover);
}
.total-price {
    text-transform: lowercase;
    font-size: 12px;
    margin-left: 4px;
}
