<header class="header-wrapper">
    <div class="logo-wrapper" [routerLink]="userData?.role?.role === 'user' ? ['/'] : ['/admin']">
        <span>Blue Market</span>
    </div>
    <div class="actions-wrapper">
        <div class="auth-wrapper" *ngIf="this.router.url === '/home' || '/admin'">
            <div class="auth-user" *ngIf="userData">
                <span>{{userData.firstName}} {{userData.lastName}}</span>
                <button class="logout" (click)="this.logout()">log out</button>
            </div>
        </div>
        <button (click)="cartClickHandler()" class="cart-button" [ngClass]="isCartOpen ? 'open' : null" *ngIf="this.router.url === '/home'">
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </div>
</header>