.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 16px 40px;
    border-bottom: 1px solid var(--layout-border-color);
}
.logo-wrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.logo-wrapper > span {
    font-size: 26px;
    font-weight: 800;
    color: var(--primary-color);
}
.cls-1 {
    fill: var(--primary-900);
}

.actions-wrapper {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.auth-user {
    display: flex;
    align-items: center;
}
.auth-user > span {
    margin-right: 16px;
}

button {
    padding: 8px 16px;
    border: 1px solid var(--ui-border-color);
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}
button:hover {
    background-color: var(--primary-background-hover-color);
}

.cart-button.open {
    color: var(--primary-text-on-primary);
    background-color: var(--primary-color);
    position: relative;
}
.cart-button.open:hover {
    background-color: var(--primary-hover-color);

}
.cart-button.open::after {
    content:"\A";
    border-style: solid;
    border-width: 0px 10px 15px 10px;
    border-color: transparent transparent var(--primary-color)  transparent;
    position: absolute;
    bottom: -19px;
    right: 16px;
}