.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 16px 40px;
    border-bottom: 1px solid var(--layout-border-color);
}
.logo-wrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.logo-wrapper > svg {
    display: inline-flex;
    width: 30px;
}
.logo-wrapper > span {
    font-size: 26px;
    font-weight: 800;
    color: var(--primary-900);
}
.cls-1 {
    fill: var(--primary-900);
}

button {
    padding: 8px 16px;
    border: 1px solid var(--ui-border-color);
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}
button:hover {
    background-color: var(--primary-background-hover-color);
}
