form {
    display: flex;
    flex-direction: column;
    padding: 40px 24px;
    border: 1px solid var(--ui-border-color);
    border-radius: 4px;
    background-color: var(--primary-background-color);
    box-shadow: var(--box-shadow-medium);
}
form > h2 {
    margin: 16px 0 28px 0;
}

form > label {
    margin-bottom: 4px;
    padding-left: 4px;
    font-size: 16px;
    font-weight: 100;
}

input {
    margin-bottom: 12px;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    border-radius: 4px;
    border: 1px solid var(--ui-border-color);
}
input::placeholder {
    color: var(--placeholder-color);
}
input:focus-visible {
    outline-color: var(--primary-color);
}
input:valid {
    border-color: var(--positive-color);
}
input:not(:placeholder-shown):invalid {
    border-color: var(--negative-color);
}

button {
    font-size: 16px;
    padding: 12px 24px 12px 24px;
    margin-top: 20px;
    margin-left: auto;
    color: var(--primary-text-on-primary);
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: var(--primary-hover-color);
}
button:disabled {
    cursor:not-allowed;
    background-color: var(--disabled-background-color);
    color: var(--disabled-text-color);
}

.hint {
    color: var(--negative-color);
    font-size: 12px;
    font-weight: 100;
    margin-top: -8px;
    margin-left: 4px;
    margin-bottom: 12px;
}