<div class="products-page">
    <nav class="categories-wrapper" (click)="onButtonGroupClick($event)">
        <input type="search" [(ngModel)]="searchTerm" (input)="filterBySearchTerm()" placeholder="search...">
        <button (click)="filterByCategory('all')" class="active all">all</button>
        <button *ngFor="let c of categories" (click)="filterByCategory(c._id)">
            {{c.category}}
        </button>
    </nav>
    <div class="products-wrapper">
        <div class="list-wrapper">
            <app-product-card *ngFor="let p of productsToDisplay" [product]="p">
            </app-product-card>
        </div>
    </div>
    <aside [ngClass]="isCartOpen ? null : 'hide'">
        <app-cart></app-cart>
    </aside>
</div>