.products-page {
    height: 100%;
    display: grid;
    grid-template: "left main right" / 1fr 6.5fr 1.5fr;
    position: relative;
}

/* Left column */
.categories-wrapper {
    grid-area: left;
    display: flex;
    flex-direction: column;
    min-width: 240px;
    border-right: 1px solid var(--layout-border-color);
    padding-top: 16px;
}
.categories-wrapper > button {
    background-color: transparent;
    padding: 16px 24px;
    font-size: 16px;
    border: none;
    border-right: 1px solid var(--layout-border-color);
    text-align: start;
    cursor: pointer;

}
.categories-wrapper > button.active {
    background-color: var(--primary-selected-color);
}
.categories-wrapper > button:hover {
    background-color: var(--primary-background-hover-color);
}
.categories-wrapper > button.active:hover {
    background-color: var(--primary-selected-hover-color);
}

/* Main column */
.products-wrapper {
    grid-area: main;
    overflow: scroll;
    padding: 24px;
}
.list-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    /* width: 100%; */
    /* height: 100%; */
    /* overflow: scroll; */
}

aside {
    grid-area: right;
    max-width: 350px;
    min-width: 300px;
}

app-product-card {
    border: 1px solid transparent;
    width: 100%;
    max-width: 25%;
    min-width: 200px;
}
app-product-card:hover {
    border: 1px solid var(--neutral-100);
    background-color: rgb(255, 255, 255, 0.5);
}
