<ng-container [formGroup]="personalDetails">
    <div class="form-step">
        <h3>Personal details</h3>
        <div class="input-wrapper">
            <label>First name</label>
            <input type="text" name="name" autocomplete="given-name" formControlName="firstName" placeholder="Blue">
            <span class="hint" *ngIf="firstName.errors?.['required'] && (firstName.dirty || firstName.touched)">
                You must enter 'first name' to create your account
            </span>
            <span class="hint" *ngIf="firstName.errors?.['minlength'] && (firstName.dirty || firstName.touched)">
                First name must have at least 2 character
            </span>
            <span class="hint" *ngIf="firstName.errors?.['maxlength'] && (firstName.dirty || firstName.touched)">
                First name must be less than 50 characters Long
            </span>
        </div>
        <div class="input-wrapper">
            <label>Last name</label>
            <input type="text" name="lastName" autocomplete="family-name" formControlName="lastName"
                placeholder="Market">
            <span class="hint" *ngIf="lastName.errors?.['required'] && (lastName.dirty || lastName.touched)">
                You must enter 'last name' to create your account
            </span>
            <span class="hint" *ngIf="lastName.errors?.['minlength'] && (lastName.dirty || lastName.touched)">
                Last name must have at least 2 character
            </span>
            <span class="hint" *ngIf="lastName.errors?.['maxlength'] && (lastName.dirty || lastName.touched)">
                Last name must be less than 50 characters Long
            </span>
        </div>
        <div class="input-wrapper">
            <label>City</label>
            <select name="city" formControlName="city">
                <option class="select-item" [defaultSelected]="true" disabled>select a city...</option>
                <option class="select-item" *ngFor="let city of cities">{{city}}</option>
            </select>
            <span class="hint" *ngIf="city.errors?.['required'] && (city.dirty || city.touched)">
                You must select a city to create your account
            </span>
        </div>
        <div class="input-wrapper">
            <label>Street</label>
            <input type="text" name="street" autocomplete="street-address" formControlName="street"
                placeholder="Milky way 11th">
            <span class="hint" *ngIf="street.errors?.['required'] && (street.dirty || street.touched)">
                You must enter 'street' to create your account
            </span>
            <span class="hint" *ngIf="street.errors?.['minlength'] && (street.dirty || street.touched)">
                Street must have at least 2 character
            </span>
            <span class="hint" *ngIf="street.errors?.['maxlength'] && (street.dirty || street.touched)">
                Street be less than 500 characters Long
            </span>
        </div>

    </div>
</ng-container>