form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 40px 24px;
    background-color: var(--primary-background-color);
    border: 1px solid var(--ui-border-color);
    border-radius: 4px;
    box-shadow: var(--box-shadow-medium);
}
h2 {
    margin: 16px 0 0px 0;
}
.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.next {
    margin-left: auto;
}
.prev {
    background-color: transparent;
    border: 1px solid var(--ui-border-color);
    color: var(--primary-text-color);
    margin-left: 0;
}
.prev:hover {
    background-color: var(--primary-background-hover-color);
}

button {
    font-size: 16px;
    padding: 12px 24px 12px 24px;
    margin-top: 20px;
    margin-left: auto;
    color: var(--primary-text-on-primary);
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: var(--primary-hover-color);
}
button:disabled {
    cursor: not-allowed;
    background-color: var(--disabled-background-color);
    color: var(--disabled-text-color);
}
