div {
    height: 100%;
    display: grid;
    grid-template-rows: 80px auto 30px;
    overflow: hidden;
}

/* app-header, footer {
    z-index: 999;
} */

/* main {
    overflow: auto;
} */

footer {
    font-size: 12px;
    padding: 8px;
    text-align: center;
    background-color: var(--grey-background-color);
    border-top: 1px solid var(--layout-border-color);
}