div {
    height: 100%;
    display: grid;
    grid-template-rows: 80px auto 30px;
    overflow: hidden;
}

main {
    overflow: hidden;
}

footer {
    font-size: 12px;
    padding: 8px;
    text-align: center;
    background-color: var(--primary-background-color);
    border-top: 1px solid var(--layout-border-color);
}
