<ng-container [formGroup]="accountDetails">
    <div class="form-step">
        <h3>Account details</h3>

        <div class="input-wrapper">
            <label>ID number</label>
            <input type="text" name="identityNum" autocomplete="" formControlName="identityNum" placeholder="1234567">
            <span class="hint" *ngIf="identityNum.errors?.['required'] && (identityNum.dirty || identityNum.touched)">
                Required field
            </span>
            <span class="hint" *ngIf="identityNum.errors?.['minlength'] && (identityNum.dirty || identityNum.touched)">
                Must contain at least 6 characters
            </span>
            <span class="hint" *ngIf="identityNum.errors?.['maxlength'] && (identityNum.dirty || identityNum.touched)">
                Maximum 20 characters
            </span>
            <span class="hint" *ngIf="identityNum.errors?.['idExist'] && (identityNum.dirty || identityNum.touched)">
                This ID number already been used to register our store
            </span>
        </div>
        
        <div class="input-wrapper">
            <label>Email</label>
            <input type="email" name="email" autocomplete="email" formControlName="email" placeholder="super@bluemarket.com">
            <span class="hint" *ngIf="email.errors?.['required'] && (email.dirty || email.touched)">
                Required field
            </span>
            <!-- todo - check email validation -->
            <span class="hint" *ngIf="email.errors?.['email'] && (email.dirty || email.touched)">
                Not a valid email address
            </span>
        </div>
        <div class="input-wrapper">
            <label>Password</label>
            <input type="password" name="password" autocomplete="current-password" formControlName="password" placeholder="blue*****">
            <span class="hint" *ngIf="password.errors?.['required'] && (password.dirty || password.touched)">
                Required field
            </span>
            <span class="hint" *ngIf="password.errors?.['minlength'] && (password.dirty || password.touched)">
                Must contain at least 6 characters
            </span>
            <span class="hint" *ngIf="password.errors?.['maxlength'] && (password.dirty || password.touched)">
                Maximum 100 characters
            </span>
        </div>
        <div class="input-wrapper">
            <label>Confirm password</label>
            <input type="password" name="passwordConfirm" autocomplete="" formControlName="passwordConfirm" placeholder="blue*****">
            <span class="hint"
                *ngIf="passwordConfirm.errors?.['required'] && (passwordConfirm.dirty || passwordConfirm.touched)">
                Required field
            </span>
            <span class="hint"
                *ngIf="passwordConfirm.errors?.['minlength'] && (passwordConfirm.dirty || passwordConfirm.touched)">
                Must contain at least 6 characters
            </span>
            <span class="hint" *ngIf="password.errors?.['maxlength'] && (password.dirty || password.touched)">
                Maximum 100 characters
            </span>
            <span class="hint"
                *ngIf="passwordConfirm.errors?.['mismatch'] && (passwordConfirm.dirty || passwordConfirm.touched)">
                Not match password
            </span>
        </div>
    </div>
</ng-container>