h3 {
    font-weight: 200;
    margin: 0 0 28px 0;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 4px;
    padding-left: 4px;
    font-size: 16px;
    font-weight: 100;
}

input {
    margin-bottom: 12px;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    border-radius: 4px;
    border: 1px solid var(--ui-border-color);
}
input::placeholder {
    color: var(--placeholder-color);
}
input:focus-visible {
    outline-color: var(--primary-color);
}
input.ng-touched.ng-valid {
    border-color: var(--positive-color);
}
input.ng-touched.ng-invalid {
    border-color: var(--negative-color);
}

.hint {
    color: var(--negative-color);
    font-size: 12px;
    font-weight: 100;
    margin-top: -8px;
    margin-left: 4px;
    margin-bottom: 12px;
}