<ng-container [formGroup]="accountDetails">
    <div class="form-step">
        <h3>Account details</h3>

        <div class="input-wrapper">
            <label>ID number</label>
            <input type="text" name="identityNum" autocomplete="" formControlName="identityNum" placeholder="1234567">
            <span class="hint" *ngIf="identityNum.errors?.['required'] && (identityNum.dirty || identityNum.touched)">
                You must enter an ID number to create your account
            </span>
            <span class="hint" *ngIf="identityNum.errors?.['minlength'] && (identityNum.dirty || identityNum.touched)">
                ID number must have at least 6 character
            </span>
            <span class="hint" *ngIf="identityNum.errors?.['maxlength'] && (identityNum.dirty || identityNum.touched)">
                ID number must be less than 20 characters Long
            </span>
            <span class="hint" *ngIf="identityNum.errors?.['idExist'] && (identityNum.dirty || identityNum.touched)">
                This ID number already been used to register our store
            </span>
        </div>

        <div class="input-wrapper">
            <label>Email</label>
            <input type="email" name="email" autocomplete="email" formControlName="email"
                placeholder="super@bluemarket.com">
            <span class="hint" *ngIf="email.errors?.['required'] && (email.dirty || email.touched)">
                You must enter an email address to create your account
            </span>
            <span class="hint" *ngIf="email.errors?.['email'] && (email.dirty || email.touched)">
                Not a valid email address
            </span>
        </div>
        <div class="input-wrapper">
            <label>Password</label>
            <input type="password" name="password" autocomplete="new-password" formControlName="password"
                placeholder="blue*****">
            <span class="hint" *ngIf="password.errors?.['required'] && (password.dirty || password.touched)">
                You must create a password for your account
            </span>
            <span class="hint" *ngIf="password.errors?.['pattern'] && (password.dirty || password.touched)">
                <ng-container *ngFor="let m of password.errors?.['pattern']">
                    {{m}}<br>
                </ng-container>
            </span>
        </div>
        <div class="input-wrapper">
            <label>Confirm password</label>
            <input type="password" name="passwordConfirm" autocomplete="new-password" formControlName="passwordConfirm"
                placeholder="blue*****">
            <span class="hint"
                *ngIf="passwordConfirm.errors?.['required'] && (passwordConfirm.dirty || passwordConfirm.touched)">
                You must confirm your password
            </span>
            <span class="hint"
                *ngIf="passwordConfirm.errors?.['mismatch'] && (passwordConfirm.dirty || passwordConfirm.touched)">
                Password are not match, please try again
            </span>
        </div>
    </div>
</ng-container>