.cart-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid var(--primary-color);
    position: relative;
    box-shadow: var(--box-shadow-small);
}
.line {
    background-color: var(--primary-color);
    height: 4px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 8px 24px;
}
.clear-cart {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}
.products-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    overflow-y: scroll;
}

.place-order {
    padding: 12px 24px;
    margin: auto 24px 16px 24px;
    background-color: var(--primary-color);
    color: var(--primary-text-on-primary);
    border: none;
    border-radius: 4px;
    font-size: 16px;
}