.cart-panel {
    height: calc(100% - 72px);
    width: 350px;
    position: absolute;
    top: 72px;
    right: 0;
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-200);
}

.products-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 500px;
    overflow-y: scroll;
}