.product-cart {
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 24px;
    position: relative;
    padding: 12px 24px;
}
.product-cart:hover {
    background-color: var(--neutral-200);
}
img {
    max-width: 60px;
    height: auto;
}

.data-wrapper {
    width: 100%;
}
h4 {
    margin: 0;
    margin-bottom: 12px;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-quantity {
    display: flex;
    width: 100%;
    justify-content:space-between;
}
button {
    position: absolute;
    top: 12px;
    right: 24px;
}