<!-- <button (click)="createPDF()">create</button> -->
<div class="order-wrapper">
    <div class="tools-wrapper">
        <label>search</label>
        <input type="search" [(ngModel)]="searchTerm" (input)="highlightText(searchTerm)" />
    </div>
    <div class="cart-details-wrapper" #pdfContent>
        <app-product-cart-card *ngFor="let p of cart?.cartProducts" [cartProduct]="p"></app-product-cart-card>
        <h4>Total price {{calcTotalCartPrice() | currency}}</h4>
    </div>
    <div class="ordering-wrapper">
        <form [formGroup]="form">

            <div class="input-wrapper">
                <label>City</label>
                <input type="text" name="city" autocomplete="" formControlName="city" (dblclick)="setInputValue($event)"
                    placeholder={{userData?.city}}>
                <span class="hint"
                    *ngIf="form.controls.city.errors?.['required'] && (form.controls.city.dirty || form.controls.city.touched)">
                    Required field
                </span>
                <span class="hint"
                    *ngIf="form.controls.city.errors?.['minlength'] && (form.controls.city.dirty || form.controls.city.touched)">
                    Must contain at least 2 characters
                </span>
                <span class="hint"
                    *ngIf="form.controls.city.errors?.['maxlength'] && (form.controls.city.dirty || form.controls.city.touched)">
                    Maximum 100 characters
                </span>
            </div>

            <div class="input-wrapper">
                <label>Street</label>
                <input type="text" name="street" autocomplete="street-address" formControlName="street"
                    (dblclick)="setInputValue($event)" placeholder={{userData?.street}}>
                <span class="hint"
                    *ngIf="form.controls.street.errors?.['required'] && (form.controls.street.dirty || form.controls.street.touched)">
                    Required field
                </span>
                <span class="hint"
                    *ngIf="form.controls.street.errors?.['minlength'] && (form.controls.street.dirty || form.controls.street.touched)">
                    Must contain at least 2 characters
                </span>
                <span class="hint"
                    *ngIf="form.controls.street.errors?.['maxlength'] && (form.controls.street.dirty || form.controls.street.touched)">
                    Maximum 100 characters
                </span>
            </div>

            <div class="input-wrapper">
                <label>Date for delivery</label>
                <input matInput name="dateOfDelivery" [matDatepickerFilter]="filterBusyDates" [matDatepicker]="picker"
                    [min]="minDate" 
                    (click)="picker.open()" 
                    placeholder="mm/dd/yyyy"
                    formControlName="dateOfDelivery">
                <mat-datepicker #picker [dateClass]="dateClass"></mat-datepicker>
                <span class="hint"
                    *ngIf="form.controls.dateOfDelivery.errors?.['required'] && (form.controls.dateOfDelivery.dirty || form.controls.dateOfDelivery.touched)">
                    Required field
                </span>
                <!-- todo - add costume validation -->
            </div>

            <div class="input-wrapper">
                <label>CC number</label>
                <input type="text" name="ccNumber" autocomplete="cc-number" formControlName="ccNumber"
                    placeholder="XXXX-XXXX-XXXX-XXXX" inputmode="numeric">
                <span class="hint"
                    *ngIf="form.controls.ccNumber.errors?.['required'] && (form.controls.ccNumber.dirty || form.controls.ccNumber.touched)">
                    Required field
                </span>
                <span class="hint"
                    *ngIf="form.controls.ccNumber.errors?.['minlength'] && (form.controls.ccNumber.dirty || form.controls.ccNumber.touched)">
                    Must contain at least 12 characters
                </span>
                <span class="hint"
                    *ngIf="form.controls.ccNumber.errors?.['maxlength'] && (form.controls.ccNumber.dirty || form.controls.ccNumber.touched)">
                    Maximum 20 characters
                </span>
                <span class="hint"
                    *ngIf="form.controls.ccNumber.errors?.['luhnCheck'] && (form.controls.ccNumber.dirty || form.controls.ccNumber.touched) && (!form.controls.ccNumber.errors?.['minlength']) ">
                    Card number is invalid
                </span>
                <span class="hint"
                    *ngIf="form.controls.ccNumber.errors?.['pattern'] && (form.controls.ccNumber.dirty || form.controls.ccNumber.touched)">
                    Numbers only
                </span>
            </div>
            <button (click)="submit()">Place order</button>
        </form>
    </div>
</div>