<div class="order-wrapper">
    <div class="tools-wrapper">
        <label>search</label>
        <input type="search" [(ngModel)]="searchTerm" (input)="highlightText(searchTerm)" />
    </div>
    <div class="cart-details-wrapper">
        <app-product-cart-card *ngFor="let p of cart?.cartProducts" [cartProduct]="p"></app-product-cart-card>
        <h4>Total price {{calcTotalCartPrice() | currency}}</h4>
    </div>
    <div class="ordering-wrapper">
        <form (ngSubmit)="placeOrder()" #placeOrderForm="ngForm">
            <div class="input-wrapper">  
                <label>City</label>
                <input type="text" name="city" (dblclick)="setInputValue($event)" #cityModel="ngModel" [(ngModel)]="shipping.city" placeholder={{userData?.city}} required="true" minlength="2" maxlength="100">
                <span class="hint" *ngIf="cityModel.errors?.['required'] && (cityModel.dirty || cityModel.touched)">
                    Required field
                </span>
                <span class="hint" *ngIf="cityModel.errors?.['minlength'] && (cityModel.dirty || cityModel.touched)">
                    Must contain at least 2 characters
                </span>
                <span class="hint" *ngIf="cityModel.errors?.['maxlength'] && (cityModel.dirty || cityModel.touched)">
                    Maximum 100 characters
                </span>
            </div>
            <div class="input-wrapper">
                <label>Street</label>
                <input type="text" name="street" (dblclick)="setInputValue($event)" autocomplete="street-address" #streetModel="ngModel" [(ngModel)]="shipping.street" placeholder={{userData?.street}} required="true" minlength="2" maxlength="100">
                <span class="hint" *ngIf="streetModel.errors?.['required'] && (streetModel.dirty || streetModel.touched)">
                    Required field
                </span>
                <span class="hint" *ngIf="streetModel.errors?.['minlength'] && (streetModel.dirty || streetModel.touched)">
                    Must contain at least 2 characters
                </span>
                <span class="hint" *ngIf="streetModel.errors?.['maxlength'] && (streetModel.dirty || streetModel.touched)">
                    Maximum 500 characters
                </span>
            </div>
            <div class="input-wrapper">
                <!-- <label>Date for delivery</label>
                <input type="date" name="deliveryDate" #deliveryDateModel="ngModel" [(ngModel)]="shipping.dateOfDelivery" required="true">
                <span class="hint" *ngIf="deliveryDateModel.errors?.['required'] && (deliveryDateModel.dirty || deliveryDateModel.touched)">
                    Required field
                </span> -->
                <!-- todo - add costume validation -->
                <app-datepicker></app-datepicker>
            </div>
            <div class="input-wrapper">
                <label>CC number</label>
                <input type="text" name="creditCard" #creditCardModel="ngModel" [(ngModel)]="shipping.creditCard" required="true" minlength="4" maxlength="20">
                <!-- todo - add regex validation -->
                <!-- todo - add credit card field -->
                <span class="hint" *ngIf="creditCardModel.errors?.['required'] && (creditCardModel.dirty || creditCardModel.touched)">
                    Required field
                </span>
                <span class="hint" *ngIf="creditCardModel.errors?.['minlength'] && (creditCardModel.dirty || creditCardModel.touched)">
                    Must contain at least 4 digits
                </span>
                <span class="hint" *ngIf="creditCardModel.errors?.['maxlength'] && (creditCardModel.dirty || creditCardModel.touched)">
                    Maximum 20 digits
                </span>
            </div>
            
                <button>Place order</button>
        </form>
    </div>
</div>