<div class="order-wrapper">
    <div class="tools-wrapper">
        <div class="input-wrapper">
            <label>search</label>
            <input type="search" [(ngModel)]="searchTerm" (input)="highlightText(searchTerm)" />
        </div>
    </div>
    <div class="cart-details-wrapper" #pdfContent>
        <app-product-cart-card *ngFor="let p of cart?.cartProducts" [cartProduct]="p"></app-product-cart-card>
        <span class="total-price">Total price {{calcTotalCartPrice() | currency}}</span>
    </div>
    <div class="ordering-wrapper">
        <form [formGroup]="form">
            <h2>Checkout</h2>
            <div class="input-wrapper">
                <label>City</label>
                <input type="text" name="city" autocomplete="" formControlName="city" (dblclick)="setInputValue($event)"
                    placeholder={{userData?.city}}>
                <span class="hint"
                    *ngIf="form.controls.city.errors?.['required'] && (form.controls.city.dirty || form.controls.city.touched)">
                    You must enter a city name to delivery
                </span>
                <span class="hint"
                    *ngIf="form.controls.city.errors?.['minlength'] && (form.controls.city.dirty || form.controls.city.touched)">
                    City must have at least 2 character
                </span>
                <span class="hint"
                    *ngIf="form.controls.city.errors?.['maxlength'] && (form.controls.city.dirty || form.controls.city.touched)">
                    City must be less than 100 characters Long
                </span>
            </div>

            <div class="input-wrapper">
                <label>Street</label>
                <input type="text" name="street" autocomplete="street-address" formControlName="street"
                    (dblclick)="setInputValue($event)" placeholder={{userData?.street}}>
                <span class="hint"
                    *ngIf="form.controls.street.errors?.['required'] && (form.controls.street.dirty || form.controls.street.touched)">
                    You must enter a street address to delivery
                </span>
                <span class="hint"
                    *ngIf="form.controls.street.errors?.['minlength'] && (form.controls.street.dirty || form.controls.street.touched)">
                    Street must have at least 2 character
                </span>
                <span class="hint"
                    *ngIf="form.controls.street.errors?.['maxlength'] && (form.controls.street.dirty || form.controls.street.touched)">
                    Street must be less than 100 characters Long
                </span>
            </div>

            <div class="input-wrapper">
                <label>Date for delivery</label>
                <input matInput name="dateOfDelivery" [matDatepickerFilter]="filterBusyDates" [matDatepicker]="picker"
                    [min]="minDate" (click)="picker.open()" placeholder="mm/dd/yyyy" formControlName="dateOfDelivery">
                <mat-datepicker #picker [dateClass]="dateClass"></mat-datepicker>
                <span class="hint"
                    *ngIf="form.controls.dateOfDelivery.errors?.['required'] && (form.controls.dateOfDelivery.dirty || form.controls.dateOfDelivery.touched)">
                    You must select a date for delivery
                </span>
                <!-- todo - add costume validation -->
            </div>

            <div class="input-wrapper">
                <label>CC number</label>
                <input type="text" name="ccNumber" autocomplete="cc-number" formControlName="ccNumber"
                    placeholder="XXXX-XXXX-XXXX-XXXX" inputmode="numeric">
                <span class="hint"
                    *ngIf="form.controls.ccNumber.errors?.['required'] && (form.controls.ccNumber.dirty || form.controls.ccNumber.touched)">
                    You must enter a credit card number to pay with
                </span>
                <span class="hint"
                    *ngIf="form.controls.ccNumber.errors?.['minlength'] && (form.controls.ccNumber.dirty || form.controls.ccNumber.touched)">
                    CC number must contain at least 6 characters
                </span>
                <span class="hint"
                    *ngIf="form.controls.ccNumber.errors?.['maxlength'] && (form.controls.ccNumber.dirty || form.controls.ccNumber.touched)">
                    CC number must be less than 50 characters Long
                </span>
                <span class="hint"
                    *ngIf="form.controls.ccNumber.errors?.['luhnCheck'] && (form.controls.ccNumber.dirty || form.controls.ccNumber.touched) && (!form.controls.ccNumber.errors?.['minlength']) ">
                    CC number is invalid
                </span>
                <span class="hint"
                    *ngIf="form.controls.ccNumber.errors?.['pattern'] && (form.controls.ccNumber.dirty || form.controls.ccNumber.touched)">
                    Please fill in numbers only
                </span>
            </div>
            <div class="buttons-wrapper">
                <button [routerLink]="['/']" class="secondary">Cancel</button>
                <button class="primary" (click)="submit()" [disabled]="!this.form.valid">Place order</button>
            </div>
        </form>
    </div>
</div>
<div class="order-modal" *ngIf="showModal">
    <div class="modal-message-wrapper">
        <h3> Your order has been successfully ordered
        </h3>
        <p>Do you want to download your bill?</p>
        <button [routerLink]="['/']" class="outlined">skip</button>
        <button (click)="createPDF()" [routerLink]="['/']">download</button>
    </div>

</div>